* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  
  border-bottom: 1px solid #e7e9fc;
}
.header-item {
  display: flex;
  justify-content: space-between;
   padding: 24px 0;
}
.nav {
  display: flex;
  align-items: center;
  
}
.nav-links {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: block;
   
}
.logo-studio {
  color: #2e2f42;
}
.nav-links-item {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-links-first-item:hover,
.nav-links-first-item:focus,
.nav-links-first-item:active {
  color: #404bbf;
}
.address-normal {
  font-style: normal;
}
.address-links {
  display: flex;
  gap: 40px;
}
.address-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-contacts:hover,
.address-contacts:focus,
.address-contacts:active {
  color: #404bbf;
}
.section {
  padding: 120px 0;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto 48px;
  max-width: 496px;
}
.hero-btn {
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-items {
  display: flex;
  gap: 24px;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 72px) / 4);
}
.advantages-item-title,
.team-item-title,
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-text,
.team-item-text,
.portfolio-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-items {
  display: flex;
  gap: 24px;
}
.team {
  background-color: #f4f4fd;
}
.team-content{
  padding: 32px 0;
}
.team-item-title {
  text-align: center;
  margin: 8px;
}
.team-item-text{
  text-align: center;
}
.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-item {
  background-color: #ffffff;
  flex-basis: calc((100%-72px) / 4);
  display: inline-flex;
   
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 32px; */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
 
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  width: calc((100% - 48px) / 3);
}
.portfolio-item-title{
  margin-bottom: 8px;
}
.portfolio-content {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo{
  display: inline-block;
  margin-bottom: 16px;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-content {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}
